{%- macro Infobox(name, settlement, country, state, latitude, longitude) -%}
{{'{{Infobox settlement'}}
| name  = {{name}}
| settlement_type   = {{settlement}}
| pushpin_map   = {{country ~ " " ~ state + "#" ~ country}}
| pushpin_label_position    = right
| pushpin_map_alt   = 
| pushpin_map_caption   = {{"Location in " ~ state ~ "," ~ country}}
| coordinates   = {{"{{coord|" ~ latitude ~ "|N|" ~ longitude ~"|E|display=inline,title}}"}}
{{'}}'}}
{%- endmacro -%}

{{- Infobox(name, settlement, country, state, latitude, longitude) -}}


{%- set line1 = "'''" ~ name_tel ~ "'''" ~ " (Eng: " ~ name_eng ~ ") " ~ subdistrict_tel ~ " (Eng: " ~ subdistrict_eng ~ 
") ఉప జిల్లా, " ~ district_tel ~ " (Eng: " ~ district_eng ~ ") జిల్లా, " ~ state_tel ~ " (Eng: " ~ state_eng ~ ") రాష్ట్రానికి చెందిన గ్రామం."  -%}


{%- set line2 = ["'''", name_tel, "'''", "గ్రామం, (Eng:", name_eng, ")", subdistrict_tel, "(Eng:", subdistrict_eng, 
") ఉప జిల్లా,", district_tel,  "(Eng:", district_eng, ") జిల్లా,", state_tel, "(Eng:", state_eng, ") రాష్ట్రానికి చెందినది."] | join(' ') -%}